@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 70%;
}

.hero{
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./img/hero.jpg');
    background-size: cover;
    background-position: center;
}

